.productCardWrapper{
    border-radius: 9px;
    box-shadow:1px 2px 10px #0000003c;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
    padding:1.5rem;
    width:100%;
}
.productImage{
    align-items: center;
    display: flex;
    height:330px;
    justify-self: center;
    width:100%;
}
.productImage img{
    height: 100%;
    object-fit: cover;
    width:100%;
}
.productShoppingCartButton{
    align-items: center;
    background: var(--yellow-primary);
    border:none;
    border-radius: 9px;
    color:var(--black-primary);
    cursor:pointer;
    display:flex;
    font-size:2rem;
    justify-content: center;
    width:40%;
}
.productPaymentButton{
    background: var(--yellow-primary);
    border-radius: 9px;
    color:var(--black-primary);
    padding:0.5rem;
    text-align: center;
    text-decoration: none;
    width:100%;
}
.productAditionals{
    color: var(--red-secondary);
    line-height:1.5rem;
}