.headerWrapper{
    padding:0.5rem 0;
    width:100%;
}
.headerBackgound{
    background: var(--yellow-secondary);
}
.navWrapper{
    align-items: center;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.navList{
    display:flex;
    gap:2rem;
    list-style: none;
}
.navList a{
    color:var(--black-primary);
    text-decoration: none;
}
.navList a:hover{
    text-decoration: underline;
}
.navLogo{
    width:6rem;
}
.navShoppingCart{
    font-size: 2rem;
}