.jumbotronWrapper {
  background: url("../../../../../../public/assets/images/krollo-banner.jpg");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
.jumbotronMask {
  align-items: center;
  background: #ffffff3f;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.jumbotronTitles {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}
.jumbotronImage {
  width: 13%;
}
.jumbotronButtons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}
.jumbotronButtonsMobile {
  display: none;
}
.jumbotronButtons a {
  align-items: start;
  background: var(--white-primary);
  border-radius: 9px;
  color: var(--black-primary);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.jumbotronFacebookButton {
  align-items: start;
  background: var(--white-primary);
  border-radius: 9px;
  color: var(--black-primary);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
@media (min-width: 240px) and (max-width: 900px) {
  .jumbotronButtons {
    display: none;
  }
  .jumbotronButtonsMobile {
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .jumbotronButtonsMobile a {
    align-items: start;
    background: var(--white-primary);
    border-radius: 9px;
    color: var(--black-primary);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .jumbotronTitles {
    justify-content: space-between;
  }
  .jumbotronWrapper {
    background-position: center;
    height: 80vh;
  }
  .jumbotronImage {
    width: 50%;
  }
  .jumbotronButtonsMobile a,
  .jumbotronFacebookButton {
    background: #ffffffc9;
  }
  .jumbotronTitlesMobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
  }
}
